---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/owners/k-ta-yamada/gems.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"fa770771d3e0c45a1e6ed8bf8f75d36e"'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"systemd_service_check","downloads":1236,"version":"1.1.0","version_downloads":354,"platform":"ruby","authors":"k-ta-yamada","info":"This
        gem provide `ssc` command to check multiple `systemd service` etc on multiple
        remote servers using net-ssh.","licenses":["MIT"],"metadata":{},"sha":"56d22e7eef141902d8b527a892a9cba810f5d472df96cd83abba5cd85b80f2e8","project_uri":"https://rubygems.org/gems/systemd_service_check","gem_uri":"https://rubygems.org/gems/systemd_service_check-1.1.0.gem","homepage_uri":"https://github.com/k-ta-yamada/systemd_service_check","wiki_uri":"","documentation_uri":"http://www.rubydoc.info/gems/systemd_service_check/1.1.0","mailing_list_uri":"","source_code_uri":"https://github.com/k-ta-yamada/systemd_service_check","bug_tracker_uri":"","changelog_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"~\u003e
        1.16"},{"name":"capture_stdout","requirements":"\u003e= 0"},{"name":"minitest","requirements":"~\u003e
        5.0"},{"name":"minitest-reporters","requirements":"\u003e= 0"},{"name":"pry-doc","requirements":"\u003e=
        0"},{"name":"pry-theme","requirements":"\u003e= 0"},{"name":"rake","requirements":"~\u003e
        10.0"},{"name":"rubocop","requirements":"\u003e= 0"}],"runtime":[{"name":"awesome_print","requirements":"\u003e=
        0"},{"name":"net-ssh","requirements":"\u003e= 0"},{"name":"pry","requirements":"\u003e=
        0"},{"name":"table_print","requirements":"\u003e= 0"},{"name":"thor","requirements":"\u003e=
        0"}]}},{"name":"renc","downloads":7112,"version":"2.2.0","version_downloads":517,"platform":"ruby","authors":"k-ta-yamada","info":"recursive
        encode for Hash and Array.","licenses":["MIT"],"metadata":{},"sha":"57128bf32752a94ba96489a58f1c5[...]
