---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/owners/k-ta-yamada/gems.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"faf15c772b0311b4f764473fe7f00459"'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"tee_logger","downloads":22198,"version":"3.2.2","version_downloads":1945,"platform":"ruby","authors":"k-ta-yamada","info":"logging
        to file and standard output. require standard library only.","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"ff0be95819590968eb2591fbb2be4c605b02bb45c8e457ed0f6e2c2c02f25a13","project_uri":"https://rubygems.org/gems/tee_logger","gem_uri":"https://rubygems.org/gems/tee_logger-3.2.2.gem","homepage_uri":"https://github.com/k-ta-yamada/tee_logger","wiki_uri":"","documentation_uri":"http://www.rubydoc.info/gems/tee_logger/3.2.2","mailing_list_uri":"","source_code_uri":"https://github.com/k-ta-yamada/tee_logger","bug_tracker_uri":"","changelog_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"~\u003e
        1.10"},{"name":"capture_stdout","requirements":"\u003e= 0"},{"name":"fakefs","requirements":"\u003e=
        0"},{"name":"fuubar","requirements":"\u003e= 0"},{"name":"pry","requirements":"\u003e=
        0"},{"name":"pry-byebug","requirements":"\u003e= 0"},{"name":"pry-doc","requirements":"\u003e=
        0"},{"name":"pry-theme","requirements":"\u003e= 0"},{"name":"rake","requirements":"~\u003e
        10.0"},{"name":"rspec","requirements":"\u003e= 0"},{"name":"rubocop","requirements":"\u003e=
        0"}],"runtime":[]}},{"name":"renc","downloads":8334,"version":"2.2.0","version_downloads":722,"platform":"ruby","authors":"k-ta-yamada","info":"recursive
        encode for Hash and Array.","licenses":["MIT"],"metadata":{},"yanked":false,"sha":"57128bf32752a94ba96489a58f1c5d20f70fa05353b25509d3718d84e04cb10f","project_uri":"https://rubygems.org/gems/renc","gem_uri":"https://rubygems.org/gems/renc-2.2.0.gem","homepage_uri":"https://github.com/k-ta-yamada/renc","wiki_uri":"","documentation_uri":"http://www.rubyd[...]
