---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/renc.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 11 Aug 2017 12:54:12 GMT
      X-Backend:
      - F_Rails 54.186.104.15:443
      Etag:
      - '"c71b6a8adad275f038b518dea22eae90"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"k-ta-yamada","built_at":"2017-08-11T00:00:00.000Z","created_at":"2017-08-11T12:54:11.668Z","description":"recursive
        encode for Hash and Array.","downloads_count":517,"metadata":{},"number":"2.2.0","summary":"recursive
        encode for Hash and Array.","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 2.0.0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"57128bf32752a94ba96489a58f1c5d20f70fa05353b25509d3718d84e04cb10f"},{"authors":"k-ta-yamada","built_at":"2017-02-19T00:00:00.000Z","created_at":"2017-02-19T13:56:50.554Z","description":"recursive
        encode for Hash and Array.","downloads_count":525,"metadata":{},"number":"2.1.0","summary":"recursive
        encode for Hash and Array.","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 2.0.0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"e8bf271[...]
