<dl>
  <dt>project_uri</dt>
  <dd>
    <app-anchor [href]="gem.project_uri"></app-anchor>
  </dd>

  <dt>source_code_uri</dt>
  <dd>
    <app-anchor [href]="gem.source_code_uri"></app-anchor>
  </dd>

  <dt>documentation_uri</dt>
  <dd>
    <app-anchor [href]="gem.documentation_uri"></app-anchor>
  </dd>

  <dt>version</dt>
  <dd>{{ gem.version }}</dd>

  <dt>version_downloads</dt>
  <dd>{{ gem.version_downloads }}</dd>

  <dt>downloads</dt>
  <dd>{{ gem.downloads }}</dd>

  <dt>BestGems</dt>
  <dd>
    <app-anchor href="http://bestgems.org/gems/{{gem.name}}"></app-anchor>
  </dd>
</dl>
