<p class="lead">The commit log of this site.</p>

<div *ngIf="!branch else loaded">loading...</div>
<ng-template #loaded>
  <select [(ngModel)]="selectedBranchName" (change)="onChange()">
    <option [value]="branchName" *ngFor="let branchName of branchNames">{{ branchName }}</option>
  </select>

  <hr>

  <dl>
    <ng-container *ngFor="let b of branch; let i = index;">
      <dt>
        {{ ('00' + (i + 1)).slice(-2) }}
      </dt>
      <dd>
        {{ b.commitMessage }}
      </dd>
      <dd>
        {{ b.commitAuthorDate }} / {{ b.commitAuthorName }}
      </dd>
      <dd>
        <app-anchor [href]="b.htmlUrl">{{ b.sha }}</app-anchor>
      </dd>
      <dd>
        <hr>
      </dd>
    </ng-container>
  </dl>
</ng-template>
