<h5>Profile</h5>
<dl class="row">
  <dt class="col-sm-2">Name</dt>
  <dd class="col-sm-10">k-ta-yamada</dd>

  <dt class="col-sm-2">Birth date</dt>
  <dd class="col-sm-10">Spring, 1980</dd>

  <dt class="col-sm-2">Location</dt>
  <dd class="col-sm-10">Kanagawa, Japan</dd>

  <dt class="col-sm-2">I am a ...</dt>
  <dd class="col-sm-10">Father, Programmer</dd>

  <dt class="col-sm-2">Online</dt>
  <dd class="col-sm-10">
    <app-anchor href="https://github.com/k-ta-yamada">
      <i class="fa fa-github"></i>
    </app-anchor>
    &nbsp;
    <app-anchor href="https://twitter.com/key_luvless">
      <i class="fa fa-twitter"></i>
    </app-anchor>
  </dd>
</dl>
