<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>k-ta-yamada</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">k-ta-yamada</a></h1>
    </div>
    <div id="menu">
      <%= markdown(:menu) %>
    </div>

    <div id="main">
      <%= yield %>
    </div>

    <div id="footer">
      <p>
        Copyright 2014, <a href="https://github.com/k-ta-yamada" title="GitHub">k-ta-yamada</a>
      </p>
    </div>
  </div><!-- #container -->
</body>
</html>
