html {
	height: 100%;
	background: #efefef;
}
body {
	height: 100%;
	font-size: 12px;
}
h1 {
	width: 85%;
	font-weight: bold;
	font-size: 20px;
	border-left: 10px solid #ccc;
	border-bottom: 1px dashed #ccc;
	padding-left: 5px;
	margin: 20px 0 10px 5px;
}
h2 {
	width: 70%;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px dotted #ccc;
	padding-left: 5px;
	margin: 10px 0 10px 10px;
}
p {
	margin: 0 0 0 15px;
}
a {
	text-decoration: none;
	color: #555;
	font-weight: bold;
	border-bottom: 1px dotted #ccc;
}
a:hover {
	color: pink;
}
ul {
	margin-left: 40px;
}
li {
	list-style-type: disc;
}

#container {
	margin: 10px auto;
	width: 800px;
	/*height: 100%;*/
	/*padding: 10px;*/
	background-color: white;
	/*border: 1px solid #ccc;*/
	box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
	position: relative;
}

#header {
	/*background: #dfdfdf;*/
	width: 100%;
	height: 50px;
	box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}
#header h1 {
	font-size: 30px;
	border: 0;
}
#header a {
	color: #000;
	border: 0;
	display: block;
}

#menu {
	width: 100%;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 10px;
	overflow: hidden;
}
#menu ul>li:hover {
	background: #ccc;
	opacity: 0.5;
}
#menu ul {
	margin: 0;
}
#menu ul>li {
	list-style-type: none;
	float: left;
	width: 150px;
	/*height: 100px;*/
	background-color: #ccc;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	text-align: center;
	vertical-align: center;
	margin: 0 5px 10px;
	/*margin-left: 5px;*/
}
#menu ul>li>a {
	font-weight: bold;
	color: black;
	display: block;
}

#main {
	width: 100%;
	/*height: 100%;*/
	overflow: hidden;
}

#footer {
	bottom: 0;
	width: 100%;
	/*border-top: 1px dotted #ccc;*/
	text-align: center;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
}
