<article class="row">
  <section class="col-sm-6">
    <h5>Ruby</h5>
    <dl>
      <dt>experience</dt>
      <dd>since 2012</dd>
      <dt><a routerLink="/rubygems">my gems</a></dt>
      <dd>
        <ul>
          <li>systemd_service_check</li>
          <li>renc</li>
          <li>tee_logger</li>
        </ul>
      </dd>
      <dt>used it</dt>
      <dd>
        <ul>
          <li>Pry</li>
          <li>Rubocop</li>
          <li>Rspec</li>
          <li>minitest</li>
          <li>Sinatra</li>
          <li>and more...</li>
        </ul>
      </dd>
    </dl>
  </section>

  <section class="col-sm-6">
    <h5>Angular</h5>
    <dl>
      <dt>experience</dt>
      <dd>since 2016</dd>
      <dt>practice</dt>
      <dd>
        <ul>
          <li>
            <a href="https://github.com/k-ta-yamada/k-ta-yamada">
              k-ta-yamada/k-ta-yamada
            </a>
            <br>
            this site.
          </li>
          <li>
            <a href="https://github.com/k-ta-yamada/angular-todo-with-json">
              k-ta-yamada/angular-todo-with-json
            </a>
            <br>
            Todo list App using json-server on the server side.
          </li>
        </ul>
      </dd>
    </dl>
  </section>

  <section class="col-sm-6">
    <h5>PostgreSQL</h5>
    <dl>
      <dt>experience</dt>
      <dd>since 2016</dd>
      <dt>practice</dt>
      <dd>
        <ul>
          <li>
            <a href="https://github.com/k-ta-yamada/postgres-ha-ansible">
              k-ta-yamada/postgres-ha-ansible
            </a>
            <br>
            PostgreSQL High availability configuration
            by Streaming Replication and pgpool-II with watchdog.
          </li>
          <li>
            <a href="https://github.com/k-ta-yamada/postgres-ha">
              k-ta-yamada/postgres-ha
            </a>
            <br>
            itamae: PostgreSQL High availability configuration
            by pgpool-II with watchdog.
          </li>
        </ul>
      </dd>
    </dl>
  </section>

  <section class="col-sm-6">
    <h5>Others</h5>
    <p>Technology with experience to use.</p>
    <div class="row">
      <dl class="col-sm-4">
        <dt>Language</dt>
        <dd>
          <ul>
            <li>C#</li>
            <li>Python</li>
          </ul>
        </dd>
      </dl>
      <dl class="col-sm-4">
        <dt>Database</dt>
        <dd>
          <ul>
            <li>Oracle</li>
            <li>MongoDB</li>
          </ul>
        </dd>
      </dl>
      <dl class="col-sm-4">
        <dt>Web</dt>
        <dd>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap: v3, v4</li>
          </ul>
        </dd>
      </dl>
      <dl class="col-sm-4">
        <dt>VCS</dt>
        <dd>
          <ul>
            <li>Git</li>
            <li>VSS</li>
          </ul>
        </dd>
      </dl>
      <dl class="col-sm-4">
        <dt>misc</dt>
        <dd>
          <ul>
            <li>JSON</li>
            <li>YAML</li>
            <li>Markdown</li>
            <li>Slim</li>
            <li>Sass</li>
          </ul>
        </dd>
      </dl>
    </div>
  </section>
</article>
