<h5>Profile</h5>
<dl class="row">
  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-9">k-ta-yamada</dd>

  <dt class="col-sm-3">Birth date</dt>
  <dd class="col-sm-9">Spring, 1980</dd>

  <dt class="col-sm-3">Location</dt>
  <dd class="col-sm-9">Kanagawa, Japan</dd>

  <dt class="col-sm-3">I am a ...</dt>
  <dd class="col-sm-9">Father, Programmer</dd>

  <dt class="col-sm-3">Online</dt>
  <dd class="col-sm-9">
    <a href="https://github.com/k-ta-yamada" rel="noopener" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    &nbsp;
    <a href="https://twitter.com/key_luvless" rel="noopener" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
  </dd>
</dl>
