<h4>Profile</h4>

<article class="row">
  <section class="col-sm-4">
    <h5>Name</h5>
    <p>k-ta-yamada</p>
  </section>

  <section class="col-sm-4">
    <h5>Birth date</h5>
    <p>Spring, 1980</p>
  </section>

  <section class="col-sm-4">
    <h5>Location</h5>
    <p>Kanagawa, Japan</p>
  </section>

  <section class="col-sm-4">
    <h5>I am ...</h5>
    <ul>
      <li>Father</li>
      <li>Programmer</li>
    </ul>
  </section>

  <section class="col-sm-4">
    <h5>Online</h5>
    <p>
      <a href="https://github.com/k-ta-yamada" rel="noopener" target="_blank">
        <i class="fa fa-github" style="font-size: 1.5rem"></i>
      </a>
      &nbsp;
      <a href="https://twitter.com/key_luvless" rel="noopener" target="_blank">
        <i class="fa fa-twitter" style="font-size: 1.5rem"></i>
      </a>
    </p>
  </section>
</article>
