<h2>Profile</h2>

<article class="row">
  <section class="col-sm-4">
    <h3>Name</h3>
    <p>k-ta-yamada</p>
  </section>

  <section class="col-sm-4">
    <h3>Birth date</h3>
    <p>Spring, 1980</p>
  </section>

  <section class="col-sm-4">
    <h3>Location</h3>
    <p>Kanagawa, Japan</p>
  </section>

  <section class="col-sm-4">
    <h3>I am ...</h3>
    <ul>
      <li>Father</li>
      <li>Programmer</li>
    </ul>
  </section>

  <section class="col-sm-4">
    <h3>Online</h3>
    <p>
      <a href="https://github.com/k-ta-yamada" rel="noopener" target="_blank">
        <i class="fa fa-github" style="font-size: 1.5rem"></i>
      </a>
      &nbsp;
      <a href="https://twitter.com/key_luvless" rel="noopener" target="_blank">
        <i class="fa fa-twitter" style="font-size: 1.5rem"></i>
      </a>
    </p>
  </section>
</article>

<hr>
