<nav class="navbar fixed-top navbar-expand-sm navbar-light">
<!-- <nav class="navbar navbar-expand-sm navbar-light"> -->

  <a class="navbar-brand" routerLink="">
    <i class="fa fa-home"></i>
  </a>

  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse mr-auto" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="/prof" routerLinkActive="active">prof</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/article" routerLinkActive="active">article</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/rubygems" routerLinkActive="active">rubygems</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/commit" routerLinkActive="active">commit</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/plank" routerLinkActive="active">plank</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/100daysofcode" routerLinkActive="active">100daysofcode</a></li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/k-ta-yamada" target="_blank" rel="noopener">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/key_luvless" target="_blank" rel="noopener">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
