<div class="row">

  <p>I'm Programmer.</p>

  <div class="col-auto">
    <dl class="row">
      <dt class="col-sm-4">Name</dt>
      <dd class="col-sm-8">k-ta-yamada</dd>

      <dt class="col-sm-4">D.O.B</dt>
      <dd class="col-sm-8">Spring 1980</dd>

      <dt class="col-sm-4">Online</dt>
      <dd class="col-sm-8">
        <a href="https://github.com/k-ta-yamada" rel="noopener" target="_blank">
          <i class="fa fa-github" style="font-size: 1.5rem"></i>
        </a>
        &nbsp;
        <a href="https://twitter.com/key_luvless" rel="noopener" target="_blank">
          <i class="fa fa-twitter" style="font-size: 1.5rem"></i>
        </a>
      </dd>

      <dt class="col-sm-4">Skills</dt>
      <dd class="col-sm-8">
        <dl>
          <dt>Ruby</dt>
          <dd>
            <li>experience: since 2012</li>
            <li><a routerLink="/rubygems">my rubygems</a></li>
          </dd>
        </dl>
      </dd>
      <dt class="col-sm-4"></dt>
      <dd class="col-sm-8">
        <dl>
          <dt>PostgreSQL</dt>
          <dd>
            <li>experience: since 2016</li>
            <li>
                <a href="https://github.com/k-ta-yamada/postgres-ha-ansible">
                  https://github.com/k-ta-yamada/postgres-ha-ansible
                </a>
            </li>
          </dd>
        </dl>
      </dd>

      <dt class="col-sm-4"></dt>
      <dd class="col-sm-8">
        <dl>
          <dt>Angular</dt>
          <dd>experience: since 2016</dd>
        </dl>
      </dd>

    </dl>
  </div>
</div>
