<h5>site status</h5>

<ul>
  <li>
    <a href="https://travis-ci.org/k-ta-yamada/k-ta-yamada" target="_blank" rel="noopener">
      <img alt="travis-ci: branche=master" src="https://travis-ci.org/k-ta-yamada/k-ta-yamada.svg?branch=master">
    </a>
  </li>

  <li>
    <a href="https://codeclimate.com/github/k-ta-yamada/k-ta-yamada/maintainability" target="_blank" rel="noopener">
      <img alt="codeclimate: maintainability" src="https://api.codeclimate.com/v1/badges/a648cc66e205ea3a228e/maintainability">
    </a>
  </li>

  <li>
    <a href="https://codeclimate.com/github/k-ta-yamada/k-ta-yamada/test_coverage" target="_blank" rel="noopener">
      <img alt="codeclimate: test_coverage" src="https://api.codeclimate.com/v1/badges/a648cc66e205ea3a228e/test_coverage">
    </a>
  </li>
</ul>
