<dl>
  <dt>site status</dt>
  <dd>
    <a href="https://travis-ci.org/k-ta-yamada/k-ta-yamada" target="_blank" rel="noopener">
      <img src="https://travis-ci.org/k-ta-yamada/k-ta-yamada.svg?branch=master">
    </a>
  </dd>
  <dd>
    <a href="https://codeclimate.com/github/k-ta-yamada/k-ta-yamada/maintainability" target="_blank" rel="noopener">
      <img src="https://api.codeclimate.com/v1/badges/a648cc66e205ea3a228e/maintainability">
    </a>
  </dd>
  <dd>
    <a href="https://codeclimate.com/github/k-ta-yamada/k-ta-yamada/test_coverage" target="_blank" rel="noopener">
      <img src="https://api.codeclimate.com/v1/badges/a648cc66e205ea3a228e/test_coverage">
    </a>
  </dd>
</dl>
