th, td {
  font-size: small;
}

$info:    aliceblue;
$success: honeydew;
$warning: lightyellow;
$danger:  lavenderblush;

.table-info {
  background-color: $info;
  td {
    background-color: $info;
  }
}

.table-success {
  background-color: $success;
  td {
    background-color: $success;
  }
}

.table-warning {
  background-color: $warning;
  td {
    background-color: $warning;
  }
}

.table-danger {
  background-color: $danger;
  td {
    background-color: $danger;
  }
}
