---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/k-ta-yamada/k-ta-yamada/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1582118618'
      Etag:
      - W/"81b76c008357562ecb20006f2aa88fba"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"feature/anchor-component","commit":{"sha":"5c57f2261d77cce722a31225efd421ae261c33d2","url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/5c57f2261d77cce722a31225efd421ae261c33d2"},"protected":false},{"name":"feature/angular","commit":{"sha":"2dc3cde50c477efd14d25d114d9a58e329ff8546","url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/2dc3cde50c477efd14d25d114d9a58e329ff8546"},"protected":false},{"name":"feature/fix-specs","commit":{"sha":"f288529881452d549693dd5e4b78a0941031748f","url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/f288529881452d549693dd5e4b78a0941031748f"},"protected":false},{"name":"feature/issue-47-scrollPositionRestoration","commit"[...]
