---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits?sha=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"795e6594a91917c8b789d5b0e548ec24ba275668de6d676c117d97e40c38c3be"
      Last-Modified:
      - Mon, 11 Jan 2021 03:41:54 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/21228015/commits?sha=master&page=2>;
        rel="next", <https://api.github.com/repositories/21228015/commits?sha=master&page=30>;
        rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1610340318'
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"990d3ec552920586af231c690e65befbed2a6733","node_id":"MDY6Q29tbWl0MjEyMjgwMTU6OTkwZDNlYzU1MjkyMDU4NmFmMjMxYzY5MGU2NWJlZmJlZDJhNjczMw==","commit":{"author":{"name":"k-ta-yamada","email":"key.luvless@gmail.com","date":"2021-01-11T03:41:54Z"},"committer":{"name":"k-ta-yamada","email":"key.luvless@gmail.com","date":"2021-01-11T03:41:54Z"},"message":"fix:
        couldn''t get the branch name from params.","tree":{"sha":"ce1b5312bab8339fb438e129b253ceff14c02ebc","url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/git/trees/ce1b5312bab8339fb438e129b253ceff14c02ebc"},"url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/git/commits/990d3ec552920586af231c690e65befbed2a6733","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/990d3ec552920586af231c690e65befbed2a6733","html_url":"https://github.com/k-ta-yamada/k-ta-yamada/commit/990d3ec552920586af231c690e65befbed2a6733","comments_url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/990d3ec552920586af231c690e65befbed2a6733/comments","author":{"login":"k-ta-yamada","id":3643087,"node_id":"MDQ6VXNlcjM2NDMwODc=","avatar_url":"https://avatars3.githubusercontent.com/u/3643087?v=4","gravatar_id":"","url":"https://api.github.com/users/k-ta-yamada","html_url":"https://github.com/k-ta-yamada","followers_url":"https://api.github.com/users/k-ta-yamada/followers","following_url":"https://api.github.com/users/k-ta-yamada/following{/other_user}","gists_url":"https://api.github.com/users/k-ta-yamada/gists{/gist_id}","starred_url":"https://api.github.com/users/k-ta-yamada/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/k-ta-yamada/subscriptions","organizations_url":"https://api.github.com/users/k-ta-yamada/orgs","repos_url":"https://api.github.com/users/k-ta-yamada/repos","events_url":"https://api.github.com/users/k-ta-yamada/events{/privacy}","received_events_url":"https://api.github.com/users/k-ta-yamada/received_events","type":"User","site_admin":false},"committer":{"login":"k-ta-yamada","id":3643087,"node_id":"MDQ6VXNlcjM2NDMwODc=","avatar_url":"https://avatars3.githubusercontent.com/u/3643087?v=4","gravatar_id":"","url":"https://api.github.com/users/k-ta-yamada","html_url":"https://github.com/k-ta-yamada","followers_url":"https://api.github.com/users/k-ta-yamada/followers","following_url":"https://api.github.com/users/k-ta-yamada/following{/other_user}","gists_url":"https://api.github.com/users/k-ta-yamada/gists{/gist_id}","starred_url":"https://api.github.com/users/k-ta-yamada/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/k-ta-yamada/subscriptions","organizations_url":"https://api.github.com/users/k-ta-yamada/orgs","repos_url":"https://api.github.com/users/k-ta-yamada/repos","events_url":"https://api.github.com/users/k-ta-yamada/events{/privacy}","received_events_url":"https://api.github.com/users/k-ta-yamada/received_events","type":"User","site_admin":false},"parents":[{"sha":"f3225c60ba24ae16eef066e5016ec6a332251075","url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/f3225c60ba24ae16eef066e5016ec6a332251075","html_url":"https://github.com/k-ta-yamada/k-ta-yamada/commit/f3225c60ba24ae16eef066e5016ec6a332251075"}]},{"sha":"f3225c60ba24ae16eef066e5016ec6a332251075","node_id":"MDY6Q29tbWl0MjEyMjgwMTU6ZjMyMjVjNjBiYTI0YWUxNmVlZjA2NmU1MDE2ZWM2YTMzMjI1MTA3NQ==","commit":{"author":{"name":"k-ta-yamada","email":"key.luvless@gmail.com","date":"2021-01-[...]
