---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits?sha=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1572054521'
      Etag:
      - W/"551948cd41b71a8afe16bf5b8d4a982d"
      Last-Modified:
      - Fri, 25 Oct 2019 13:04:40 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/21228015/commits?sha=master&page=2>;
        rel="next", <https://api.github.com/repositories/21228015/commits?sha=master&page=22>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"2161756cee50356a3bb553a9dd2dfae9a8dcdc76","node_id":"MDY6Q29tbWl0MjEyMjgwMTU6MjE2MTc1NmNlZTUwMzU2YTNiYjU1M2E5ZGQyZGZhZTlhOGRjZGM3Ng==","commit":{"author":{"name":"k-ta-yamada","email":"key.luvless@gmail.com","date":"2019-10-25T13:04:40Z"},"committer":{"name":"k-ta-yamada","email":"key.luvless@gmail.com","date":"2019-10-25T13:04:40Z"},"message":"server/views/xdays_plank_challenge.txt","tree":{"sha":"7d44cfca7ac6f25d93649a4f71a2e436e27228d8","url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/git/trees/7d44cfca7ac6f25d93649a4f71a2e436e27228d8"},"url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/git/commits/2161756cee50356a3bb553a9dd2dfae9a8dcdc76","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/2161756cee50356a3bb553a9dd2dfae9a8dcdc76","html_url":"https://github.com/k-ta-yamada/k-ta-yamada/commit/2161756cee50356a3bb553a9dd2dfae9a8dcdc76","comments_url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/2161756cee50356a3bb553a9dd2dfae9a8dcdc76/comments","author":{"login":"k-ta-yamada","id":3643087,"node_id":"MDQ6VXNlcjM2NDMwODc=","avatar_url":"https://avatars3.githubusercontent.com/u/3643087?v=4","gravatar_id":"","url":"https://api.github.com/users/k-ta-yamada","html_url":"https://github.com/k-ta-yamada","followers_url":"https://api.github.com/users/k-ta-yamada/followers","following_url":"https://api.github.com/users/k-ta-yamada/following{/other_user}","gists_url":"https://api.github.com/users/k-ta-yamada/gists{/gist_id}","starred_url":"https://api.github.com/users/k-ta-yamada/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/k-ta-yamada/subscriptions","organizations_url":"https://api.github.com/users/k-ta-yamada/orgs","repos_url":"https://api.github.com/users/k-ta-yamada/repos","events_url":"https://api.github.com/users/k-ta-yamada/events{/privacy}","received_events_url":"https://api.github.com/users/k-ta-yamada/received_events","type":"User","site_admin":false},"committer":{"login":"k-ta-yamada","id":3643087,"node_id":"MDQ6VXNlcjM2NDMwODc=","avatar_url":"https://avatars3.githubusercontent.com/u/3643087?v=4","gravatar_id":"","url":"https://api.github.com/users/k-ta-yamada","html_url":"https://github.com/k-ta-yamada","followers_url":"https://api.github.com/users/k-ta-yamada/followers","following_url":"https://api.github.com/users/k-ta-yamada/following{/other_user}","gists_url":"https://api.github.com/users/k-ta-yamada/gists{/gist_id}","starred_url":"https://api.github.com/users/k-ta-yamada/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/k-ta-yamada/subscriptions","organizations_url":"https://api.github.com/users/k-ta-yamada/orgs","repos_url":"https://api.github.com/users/k-ta-yamada/repos","events_url":"https://api.github.com/users/k-ta-yamada/events{/privacy}","received_events_url":"https://api.github.com/users/k-ta-yamada/received_events","type":"User","site_admin":false},"parents":[{"sha":"9f8c8031c1023637f32760d6f5906b9198fd42ca","url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/9f8c8031c1023637f32760d6f5906b9198fd42ca","html_url":"https://github.com/k-ta-yamada/k-ta-yamada/commit/9f8c8031c1023637f32760d6f5906b9198fd42ca"}]},{"sha":"9f8c8031c1023637f32760d6f5906b9198fd42ca","node_id":"MDY6Q29tbWl0MjEyMjgwMTU6OWY4YzgwMzFjMTAyMzYzN2YzMjc2MGQ2ZjU5MDZiOTE5OGZkNDJjYQ==","commit":{"author":{"name":"k-ta-yamada","email":"key.luvless@gmail.com","date":"2019-10-[...]
