---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits?sha=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1582118618'
      Etag:
      - W/"daf8c97938d2c7a14ec5d21f02b749da"
      Last-Modified:
      - Wed, 19 Feb 2020 12:30:22 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/21228015/commits?sha=master&page=2>;
        rel="next", <https://api.github.com/repositories/21228015/commits?sha=master&page=25>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"6b9e9b598c49f27d5f193133d053d674453a5bef","node_id":"MDY6Q29tbWl0MjEyMjgwMTU6NmI5ZTliNTk4YzQ5ZjI3ZDVmMTkzMTMzZDA1M2Q2NzQ0NTNhNWJlZg==","commit":{"author":{"name":"k-ta-yamada","email":"key.luvless@gmail.com","date":"2020-02-19T12:30:22Z"},"committer":{"name":"k-ta-yamada","email":"key.luvless@gmail.com","date":"2020-02-19T12:30:22Z"},"message":"server/views/xdays_plank_challenge.txt","tree":{"sha":"e0fe1ff2ff5699f76666869b2fa41cb26b52340e","url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/git/trees/e0fe1ff2ff5699f76666869b2fa41cb26b52340e"},"url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/git/commits/6b9e9b598c49f27d5f193133d053d674453a5bef","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/6b9e9b598c49f27d5f193133d053d674453a5bef","html_url":"https://github.com/k-ta-yamada/k-ta-yamada/commit/6b9e9b598c49f27d5f193133d053d674453a5bef","comments_url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/6b9e9b598c49f27d5f193133d053d674453a5bef/comments","author":{"login":"k-ta-yamada","id":3643087,"node_id":"MDQ6VXNlcjM2NDMwODc=","avatar_url":"https://avatars3.githubusercontent.com/u/3643087?v=4","gravatar_id":"","url":"https://api.github.com/users/k-ta-yamada","html_url":"https://github.com/k-ta-yamada","followers_url":"https://api.github.com/users/k-ta-yamada/followers","following_url":"https://api.github.com/users/k-ta-yamada/following{/other_user}","gists_url":"https://api.github.com/users/k-ta-yamada/gists{/gist_id}","starred_url":"https://api.github.com/users/k-ta-yamada/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/k-ta-yamada/subscriptions","organizations_url":"https://api.github.com/users/k-ta-yamada/orgs","repos_url":"https://api.github.com/users/k-ta-yamada/repos","events_url":"https://api.github.com/users/k-ta-yamada/events{/privacy}","received_events_url":"https://api.github.com/users/k-ta-yamada/received_events","type":"User","site_admin":false},"committer":{"login":"k-ta-yamada","id":3643087,"node_id":"MDQ6VXNlcjM2NDMwODc=","avatar_url":"https://avatars3.githubusercontent.com/u/3643087?v=4","gravatar_id":"","url":"https://api.github.com/users/k-ta-yamada","html_url":"https://github.com/k-ta-yamada","followers_url":"https://api.github.com/users/k-ta-yamada/followers","following_url":"https://api.github.com/users/k-ta-yamada/following{/other_user}","gists_url":"https://api.github.com/users/k-ta-yamada/gists{/gist_id}","starred_url":"https://api.github.com/users/k-ta-yamada/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/k-ta-yamada/subscriptions","organizations_url":"https://api.github.com/users/k-ta-yamada/orgs","repos_url":"https://api.github.com/users/k-ta-yamada/repos","events_url":"https://api.github.com/users/k-ta-yamada/events{/privacy}","received_events_url":"https://api.github.com/users/k-ta-yamada/received_events","type":"User","site_admin":false},"parents":[{"sha":"e0f7176c2911a8df42157147385b57306b4940a6","url":"https://api.github.com/repos/k-ta-yamada/k-ta-yamada/commits/e0f7176c2911a8df42157147385b57306b4940a6","html_url":"https://github.com/k-ta-yamada/k-ta-yamada/commit/e0f7176c2911a8df42157147385b57306b4940a6"}]},{"sha":"e0f7176c2911a8df42157147385b57306b4940a6","node_id":"MDY6Q29tbWl0MjEyMjgwMTU6ZTBmNzE3NmMyOTExYThkZjQyMTU3MTQ3Mzg1YjU3MzA2YjQ5NDBhNg==","commit":{"author":{"name":"k-ta-yamada","email":"key.luvless@gmail.com","date":"2020-02-[...]
