<div class="row">
  <div class="col-sm">
    <p class="lead">
        Hi, I'm k-ta-yamada.
        <br>
        I'm Programmer.
    </p>

    <hr>

    <dl>
      <dt>site status</dt>
      <dd>
        <a href="https://travis-ci.org/k-ta-yamada/k-ta-yamada" target="_blank" rel="noopener">
          <img src="https://travis-ci.org/k-ta-yamada/k-ta-yamada.svg?branch=master">
        </a>
        <br>
        <a href="https://codeclimate.com/github/k-ta-yamada/k-ta-yamada/maintainability" target="_blank" rel="noopener">
          <img src="https://api.codeclimate.com/v1/badges/a648cc66e205ea3a228e/maintainability">
        </a>
        <br>
        <a href="https://codeclimate.com/github/k-ta-yamada/k-ta-yamada/test_coverage" target="_blank" rel="noopener">
          <img src="https://api.codeclimate.com/v1/badges/a648cc66e205ea3a228e/test_coverage">
        </a>
      </dd>
    </dl>
  </div>

  <div class="col-sm">
    <dl>
      <dt> <a routerLink="/prof">prof</a> </dt>
      <dd> My Profile and Skills. </dd>

      <dt> <a routerLink="/article">article</a> </dt>
      <dd>
        Articles written on
        <a href="https://qiita.com" rel="noopener" target="_blank">https://qiita.com</a>.
      </dd>

      <dt> <a routerLink="/rubygems">rubygems</a> </dt>
      <dd> My RubyGems info. </dd>

      <dt> <a routerLink="/commit">commit</a> </dt>
      <dd> The commit log of this site. </dd>

      <dt> <a routerLink="/plank">plank challenge</a> </dt>
      <dd> Record of 30 days Plank Challenge. </dd>

      <dt> <a routerLink="/100daysofcode">100daysofcode</a> </dt>
      <dd>
        Record of
        <a href="https://www.100daysofcode.com/" rel="noopener" target="_blank">#100DaysOfCode</a>
        Challenge.
      </dd>
    </dl>
  </div>
</div>
